<?xml version="1.0"?>
<launch>

  <!-- EKF Node -->
  <node name="ekf_node" pkg="Simulation-nodes" type="Kinematic_state_estimation.py" output="screen">
  </node>

  <!-- Sensor Node -->
  <!--node name="sensor_node" pkg="subscriber_class" type="sub_class.py" output="screen">
  </node-->

  <!-- Ground Truth Node -->
  <node name="ground_truth_node" pkg="Simulation-nodes" type="real_path_class.py" output="screen">
  </node>

  <!-- SLAM Node -->
  <node name="slam_node" pkg="Simulation-nodes" type="Ekf_Slam.py" output="screen">
  </node>

  <!-- Path planning Node -->
  <node name="path_planning_node" pkg="Simulation-nodes" type="pathplanning_EUFS.py" output="screen">
  </node>

  <!-- Control Node -->
  <node name="control_node" pkg="Simulation-nodes" type="Stanley_EUFS.py" output="screen">
  </node>

  <!-- Dead reckon Node -->
  <node name="dead_reckon_node" pkg="Simulation-nodes" type="new_dead_reckon.py" output="screen">
  </node>

  <!-- Error measurement Node -->
  <node name="error_measurement_node" pkg="Simulation-nodes" type="error_measurement.py" output="screen">
  </node>


</launch>
