<?xml version="1.0"?>
<launch>

  <!-- EKF Node -->
  <node name="ekf_node" pkg="Simulation-nodes" type="API_Kinematic_state_estimation_skidpad_sim.py" output="screen">
  </node>

  <!-- Ground Truth Node -->
  <node name="ground_truth_node" pkg="Simulation-nodes" type="API_real_path_class_sim.py" output="screen">
  </node>

  <!-- Path planning Node -->
  <node name="path_planning_node" pkg="Simulation-nodes" type="API_pathplanning_skidpad_sim.py" output="screen">
  </node>

  <!-- Control Node -->
  <node name="control_node" pkg="Simulation-nodes" type="API_Stanley_skidpad_sim.py" output="screen">
  </node>

</launch>
