<?xml version="1.0"?>
<launch>

  <!-- EKF Node -->
  <node name="ekf_node" pkg="simulation-nodes" type="API_Kinematic_state_estimation_real.py" output="screen">
  </node>

  <!-- Path planning Node -->
  <node name="path_planning_node" pkg="simulation-nodes" type="API_pathplanning_skidpad_real.py" output="screen">
  </node>

  <!-- Control Node -->
  <node name="control_node" pkg="simulation-nodes" type="API_Stanley_skidpad_real.py" output="screen">
  </node>

</launch>
